.App {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 625px) {
  .App {
    width: 60%;
  }
}

@media only screen and (max-width: 480px) {
  .App {
    width: 80%;
  }
}
